* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

.header {
  background-color: lightcoral;
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidepanel {
  background-color: lightblue;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mainpanel {
  background-color: lightgreen;
  grid-column: 2;
  grid-row: 2;
}

.mainpanel iframe {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: lightslategray;
  grid-column: 1 / -1;
  grid-row: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  color: yellow;
  text-decoration: underline;
}
